
  <% if @restaurants.any? %>
    <% @restaurants.map do |restaurant| %>
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
      <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
      <p><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></p>
      <p><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></p>

        <% if restaurant.reviews.any? %>
          <ul>
          <% restaurant.reviews.map do |review| %>
            <li>
              <%= review.thoughts %>,
              <%= review.rating %>/5
              <p><%= link_to "Endorse Review", review_endorsements_path(review) %></p>
              </p>
              <p><%= pluralize review.endorsements.count, 'endorsement' %></p>
            </li>
            <p><%= link_to "Delete review", review_path(review), method: :delete %></p>
          <% end %>
          </ul>
        <% else %>
          <p>No reviews</p>
        <% end %>
        <p>Average rating: <%= star_rating(restaurant.average_rating) %> </p>

      <% end %>
    <% else %>
        <p>No restaurants yet</p>
    <% end %>

<%= link_to 'Add a restaurant', new_restaurant_path %>
